---
import { formatDate } from "@/utils/format";
import Cover from "./Cover.astro";
const { post } = Astro.props;
---
<article class="w-full bg-white group rounded-lg overflow-hidden hover:drop-shadow-2xl will-change-auto duration-300">
  <a href={post.slug} class="items-center h-auto">
    {post.data.photos?.[0] && (
      <Cover photos={post.data.photos} ratio="16/9" title={post.data.title}></Cover>
    )}
    <div class="p-6">
      <h2 class="text-xl/7 font-semibold text-text-heading tracking-tight">{post.data.title}</h2>
      <p class="my-2 text-text-default/75">{post.data.description}</p>
      <time class="mt-4 text-text-default/50 text-sm">{formatDate(post.data.date)}</time>
    </div>
  </a>
</article>