---
import { formatYear } from '@/utils/format';
import { slugify } from '@/utils/slugify';
import Cover from './Cover.astro';

const { post } = Astro.props;
---
<article class="group">
  <div class="w-full">
    <a href={`/design/${post.slug}`} class="block rounded-xl overflow-hidden">
      {post.data.photos?.[0] && (
        <Cover photos={post.data.photos} ratio="16/9" title={post.data.title}></Cover>
      )}
    </a>
  </div>
  <div class="mt-4">
    <h2 class="text-xl font-bold tracking-tight">
      <a href={`/design/${post.slug}`}>{post.data.title}</a>
    </h2>
    <div class="mt-2 text-sm text-text-default/60">
      <time>{formatYear(post.data.date)}</time> - 
      {
        post.data.categories.map((category) => (
          <span class="mr-1">
            <a href={`/category/${slugify(category)}`} class="text-current uppercase">{category}</a>
          </span>
        ))
      }
    </div>
  </div>
</article>