---
import { formatYear } from '@/utils/format';
import { slugify } from '@/utils/slugify';
import Cover from './Cover.astro';

const { post } = Astro.props;
---
<article class={`group break-inside-avoid`}>
  <div class="relative overflow-hidden">
    <a href={`/gallery/${post.slug}`}>
      {post.data.photos.map( photo =>
        <img
          src={photo} 
          loading="lazy"
          class="w-full h-full object-cover transition-opacity duration-500 z-10"
        />
      )}
    </a>
  </div>
  <div class="mt-2 md:mb-8 flex flex-row justify-between content-center">
    <h2 class="text-md font-bold tracking-tight uppercase">
      <a href={`/gallery/${post.slug}`}>{post.data.title}</a>
    </h2>
    <div class="text-md text-text-default/60">
      <time>{formatYear(post.data.date)}</time> - 
      {
        post.data.categories.map((category) => (
          <span class="mr-1">
            <a href={`/category/${slugify(category)}`} class="text-current uppercase">{category}</a>
          </span>
        ))
      }
    </div>
  </div>
</article>