---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getTagMeta } from '@/utils/getTagMeta';

export const prerender = true;

const tags = await getTagMeta();
---

<BaseLayout title="所有标签">
  <section class="container-wide">
    <div class="mt-32"></div>
    <div>
      <h1 class="text-4xl md:text-8xl/24 font-serif first-line:font-sans font-medium first-line:font-bold mb-8 uppercase tracking-tight">
        All
        <br>
        Tags <sup class="align-super font-sans text-4xl" title={`共有 ${tags.length} 个分类`}>{tags.length}</sup>
      </h1>
    </div>
    
    <div class="mt-12">
      <ul class="grid grid-cols-2 md:grid-cols-3 gap-6 alignfull">
        {tags.map(tag => (
          <li class="bg-white rounded-xl aspect-square overflow-hidden relative group">
            <a href={`/tags/${tag.slug}`} class="border-0">
              <div class="absolute inset-0 bg-gradient-to-t from-black/50 via-black/20 to-black/0 z-10"></div>
              {(tag.cover) ? (
                <img src={tag.cover} alt={tag.label} loading="lazy" class="w-full aspect-square object-cover group-hover:scale-110 duration-300 will-change-auto" />
              ) : (
                <img src="/assets/z-in-black.svg" loading="lazy" class="w-full aspect-square object-cover opacity-15 group-hover:scale-110 duration-300 will-change-auto" />
              )}
              <div class="p-4 absolute z-10 w-full bottom-0 flex flex-cols justify-between text-white">
                <h2 class="text-lg font-bold">{tag.label}</h2>
                <p class="text-sm">{tag.count} 篇文章</p>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </section>
</BaseLayout>
