---
import { formatDate } from "@/utils/format";
import { slugify } from "@/utils/slugify";
import BaseLayout from "./BaseLayout.astro";
import Hero from "@/components/entries/Hero.astro";
import RelatedDesign from '@/components/entries/RealatedDesign.astro';
import "@/styles/entry.css";

const { entry, collection, toc, headings } = Astro.props;
---
<BaseLayout title={entry.data.title}>

  <Hero
    title={entry.data.title}
    pubDate={entry.data.date}
    description={entry.data.description}
    categories={entry.data.categories}
    tags={entry.data.tags}
    heroImage={entry.data.photos}
  /> 

  <article class="container-gallery mt-24">
    <div
      class="entry mt-12 mx-auto text-lg/7 prose text-text-default prose-pre:text-sm">
      <slot />
    </div>
      
    <div>
      <div class="flex gap-3 pb-4 mt-12 border-b border-zinc-300">
        {
          entry.data.tags.map((tag) => (
            <span class="inline-flex items-center uppercase text-sm text-text-default/75">
              <a href={`/tags/${slugify(tag)}`}>{tag}</a>
            </span>
          ))
        }
      </div>
    </div>

    <!-- 相关文章 -->
    <RelatedDesign collection={collection} slug={entry.slug} />
  </article>

</BaseLayout>