---
import BaseLayout from "./BaseLayout.astro";
import { formatDate } from "@/utils/format";
import { slugify } from "@/utils/slugify";
import { config } from "@/site.config";
import RelatedPosts from '@/components/entries/RealatedPosts.astro';
import TableOfContents from "@/components/entries/TableOfContents.astro";

const { entry, collection, toc, headings } = Astro.props;
---
<BaseLayout title={entry.data.title}>
  <link rel="stylesheet" href="/src/styles/entry.css">

  <article class="container-wide mt-32">
    <div class="lg:text-center">
      <div class="text-text-muted uppercase text-sm">
        <time>{formatDate(entry.data.date)}</time> - 
        {
          entry.data.categories.map((category) => (
            <span class="text-text-default mr-1 font-semibold">
              <a href={`/category/${slugify(category)}`}>{category}</a>
            </span>
          ))
        }
      </div>
      <h1 class="text-4xl/10 md:text-6xl/16 font-serif first-line:font-sans text-text-heading font-semibold my-4 tracking-tight">
          {entry.data.title}
      </h1>
      <p class="text-lg mx-auto mb-10 text-text-default/75">
          {entry.data.description}
      </p>

      { (entry.data.photos) &&
      <div class="alignfull aspect-16/9 overflow-hidden rounded-xl">
        {(entry.data.photos) &&
        <img 
            src={entry.data.photos[0]}
            alt={entry.data.title}
            class="w-full h-full object-cover object-center"
            loading="eager"
        />
        }
      </div>
      }
    </div>

    { toc ? (
      <div class="mt-0 md:mt-12 max-w-2xl mx-auto grid gap-6 justify-center grid-cols-1 md:grid-cols-[15em_minmax(_var(--container-2xl),_1fr)_15em]">
        <div></div>
        <div
          class="entry mx-auto w-full text-lg/7 md:text-xl/8 prose text-text-default prose-img:hover:drop-shadow-2xl prose-img:rounded-xl prose-img:duration-300 prose-pre:text-sm">
          <slot />
        </div>
        <TableOfContents headings={headings} />
      </div>
    ) : (
      <div
        class="entry mt-12 mx-auto text-lg/6 md:text-xl/8 prose text-text-default prose-img:hover:drop-shadow-2xl prose-img:rounded-xl prose-img:duration-300 prose-pre:text-sm">
        <slot />
      </div>
    )}
      
    <div>
      <div class="flex gap-3 pb-4 mt-12 border-b border-zinc-300">
        {
          entry.data.tags.map((tag) => (
            <span class="inline-flex items-center uppercase text-sm text-text-default/75">
              <a href={`/tags/${slugify(tag)}`}>{tag}</a>
            </span>
          ))
        }
      </div>
    </div>

    <!-- 相关文章 -->
    <RelatedPosts collection={collection} slug={entry.slug} />
  </article>
</BaseLayout>
