---
import BaseLayout from "./BaseLayout.astro";
import { formatDate } from "@/utils";
import { config } from "@/site.config";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="relative h-[50vh] flex items-center justify-center overflow-hidden">
        <!-- Background Elements -->
        <div class="absolute inset-0 z-0 bg-[url(/assets/pattern-z.svg)] bg-repeat">
            <!-- Gradient Overlay -->
            <div class="absolute inset-0 bg-gradient-to-b from-black/60 to-black/40 z-10"></div>
            
            <!-- High-resolution laptop image -->
            {(frontmatter.photos) &&
            <img 
                src={frontmatter.photos[0]}
                alt={frontmatter.title}
                class="w-full h-full object-cover object-center"
                loading="eager"
            />
            }
        </div>

        <!-- Content -->
        <div class="relative z-10 container max-w-7xl h-full px-8 mx-auto">
            <div class="absolute z-10 bottom-px md:w-3/4">
                <h1 class="text-4xl md:text-5xl lg:text-7xl text-white font-bold mb-6 leading-tight">
                    {frontmatter.title}
                </h1>
                <p class="text-lg md:text-xl mx-auto mb-10 text-white/75">
                    {frontmatter.description}
                </p>
            </div>
        </div>

  </section>
  <section>
    <div class="mx-auto max-w-7xl px-8">
      <div class="lg:text-center">
        <div class="flex flex-col md:flex-row mb-12 py-12 gap-2 border-b border-zinc-300 justify-between">
          <p class="text-sm text-zinc-500">
            {(frontmatter.author) ? frontmatter.author : config.author }
             发表于 <time>{formatDate(frontmatter.date)}</time>
          </p>
          <div class="flex gap-3">
            {
              frontmatter.tags.map((tag) => (
                <span class="inline-flex items-center uppercase text-sm text-zinc-500 hover:text-black duration-300">
                  <a href={`/tags/${tag}`}>{tag}</a>
                </span>
              ))
            }
          </div>
        </div>
      </div>

      <div class="mt-12 max-w-4xl mx-auto">
        <div
<<<<<<< HEAD
          class="text-xl/7 md:text-2xl/9 prose text-black prose-a:font-normal prose-a:text-zinc-500 prose-a:underline prose-h1:text-black prose-img:bg-neutral-50 prose-img:rounded-lg prose-img:duration-300 prose-img:hover:drop-shadow-2xl prose-h2:text-black prose-h2:font-semibold prose-blockquote:not-italic prose-blockquote:font-serif prose-em:not-italic prose-em:font-fantasy prose-pre:font-mono prose-pre:text-sm prose-pre:p-4 max-w-none prose-pre:rounded-lg prose-headings:font-display">
=======
          class="text-xl/7 md:text-2xl/9 prose text-black prose-a:font-normal prose-a:text-zinc-500 prose-a:underline prose-h1:text-black prose-img:bg-neutral-50 prose-h2:text-black prose-h2:font-semibold prose-blockquote:not-italic prose-blockquote:font-serif prose-em:not-italic prose-em:font-fantasy prose-pre:font-mono max-w-none prose-pre:rounded-xl prose-headings:font-display">
>>>>>>> cec786b4b8a8a75c506e3ec9eec45d50b45a1315
          <slot />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
