---
import { formatDate } from "@/utils/format";
import { slugify } from "@/utils/slugify";
import BaseLayout from "./BaseLayout.astro";
import Cover from "@/components/entries/Cover.astro";
import RelatedDesign from '@/components/entries/RealatedDesign.astro';
import "@/styles/entry.css";

const { entry, collection, toc, headings } = Astro.props;
---
<BaseLayout title={entry.data.title}>
  <article class="container-gallery mt-32">
    <div class="text-center">
      <div class="text-text-muted uppercase text-sm">
        <time>{formatDate(entry.data.date)}</time> - 
        {
          entry.data.categories.map((category) => (
            <span class="text-text-default mr-1 font-semibold">
              <a href={`/category/${slugify(category)}`}>{category}</a>
            </span>
          ))
        }
      </div>
      <h1 class="text-4xl md:w-3/5 mx-auto md:text-6xl/16 font-serif first-line:font-sans first-line:font-semibold text-text-heading font-medium my-6 tracking-tight">
          {entry.data.title}
      </h1>
      <p class="text-lg mx-auto mb-10 text-text-default/60">
          {entry.data.description}
      </p>

      <div class="rounded-xl overflow-hidden">
        {entry.data.photos?.[0] && (
          <Cover photos={entry.data.photos} ratio="auto" title={entry.data.title}></Cover>
        )}
      </div>
    </div>
    
    <div
      class="entry mt-12 mx-auto text-lg/7 prose text-text-default  prose-img:hover:drop-shadow-2xl prose-img:rounded-xl prose-img:duration-300 prose-pre:text-sm">
      <slot />
    </div>
      
    <div>
      <div class="flex gap-3 pb-4 mt-12 border-b border-zinc-300">
        {
          entry.data.tags.map((tag) => (
            <span class="inline-flex items-center uppercase text-sm text-text-default/75">
              <a href={`/tags/${slugify(tag)}`}>{tag}</a>
            </span>
          ))
        }
      </div>
    </div>

    <!-- 相关文章 -->
    <RelatedDesign collection={collection} slug={entry.slug} />
  </article>
</BaseLayout>