---
import { config } from '@/site.config'
import * as icons from 'simple-icons'
---
<footer>
  <div class="mt-24 container-wide">
    <div>
      <h3 class="text-base lg:text-xl">站内导航</h3>
      <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
      {
        config.header.menu.map((item) => (
          <li>
            <a
              href={item.link}
              class="hover:text-black"
            >
              {item.title}</a
            >
          </li>
        ))          
      }
      </ul>
    </div>

    <div class="mt-8">
      <h3 class="text-black text-base lg:text-xl">欢迎关注</h3>
      <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
      {
        config.footer.social.map((item) => (
          <li>
            <a
              href={item.link}
              class="hover:text-black"
            >
              {item.title}</a
            >
          </li>
        ))          
      }
      </ul>
    </div>

    <nav class="mt-8">
      <p class="text-sm text-text-default/75">
        © 2025 <a href={config.website}>{config.author}</a>. All rights reserved
      </p>
    </nav>

    <div class="mt-4 text-sm text-text-default/75">
      <p>
        本站以
        <a
          href="https://michaelandreuzza.com/"
          >Michael Andreuzza</a
        > 设计的 <a
          href="https://github.com/michael-andreuzza/minimalstudio"
          >MinimalStudio</a
        > 主题为基础，特此致谢。
        <br />
        Base on Astro & Tailwind CSS.
      </p>
    </div>
  </div>

  <svg class="2xl:max-w-screen-xl mt-24 -mb-4 lg:-mb-6 mx-auto" viewBox="0 0 1585 372" fill="none" xmlns="http://www.w3.org/2000/svg">
    <text class="lowercase tracking-tighter font-bold font-[Gilroy]" x="790" y="372" font-size="452" fill="black" text-anchor="middle">{config.title.replace(/\s*/g,"")}</text>
  </svg>

</footer>
