---
import { config } from '@/site.config'
import Branding from './Branding.astro'
---
<footer>
  <div class="mt-24 container-wide">
    <div>
      <h3 class="text-base lg:text-xl">站内导航</h3>
      <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
      {
        config.header.menu.map((item) => (
          <li>
            <a
              href={item.link}
              class="hover:text-black"
            >
              {item.title}</a
            >
          </li>
        ))          
      }
      </ul>
    </div>

    <div class="mt-8">
      <h3 class="text-black text-base lg:text-xl">欢迎关注</h3>
      <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
      {
        config.footer.social.map((item) => (
          <li>
            <a
              href={item.link}
              class="hover:text-black"
            >
              {item.title}</a
            >
          </li>
        ))          
      }
      </ul>
    </div>

    <nav class="mt-8">
      <p class="text-sm text-text-default/75">
        © 2002~2025 <a href={config.website}>{config.author}</a>. All rights reserved
      </p>
    </nav>

    <div class="mt-4 text-sm text-text-default/75">
      <p>
        本站基于 <a href="https://astro.build/">Astro</a> 及 <a href="https://tailwindcss.com/">Tailwind CSS</a> 框架构建，设计以
        <a
          href="https://michaelandreuzza.com/"
          >Michael Andreuzza</a
        > 的 <a
          href="https://github.com/michael-andreuzza/minimalstudio"
          >MinimalStudio</a
        > 主题为基础，并参考了许多其他网站，特此致谢。
      </p>
    </div>
  </div>

  <Branding />

</footer>
