---
import { config } from '@/site.config'
import * as icons from 'simple-icons'
---
<footer>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">站内导航</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
        {
          config.header.menu.map((item) => (
            <li>
              <a
                href={item.link}
                class="hover:text-black"
              >
                {item.title}</a
              >
            </li>
          ))          
        }
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">欢迎关注</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
        {
          config.footer.social.map((item) => (
            <li>
              <a
                href={item.link}
                class="hover:text-black"
              >
                {item.title}</a
              >
            </li>
          ))          
        }
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2025 <a class="underline" href={config.website}>{config.author}</a>. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          本站基于
          <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-black hover:text-blue-300"
            >Michael Andreuzza</a
          > 设计的 <a
            href="https://github.com/michael-andreuzza/minimalstudio"
            class="text-sm text-black hover:text-blue-300"
            >MinimalStudio</a
          > 主题进一步定制，特此致谢。Base on Astro & Tailwind CSS.
        </p>
      </div>
    </section>
  </div>

  <svg class="2xl:max-w-screen-xl mt-24 -mb-4 lg:-mb-6 mx-auto" viewBox="0 0 1585 372" fill="none" xmlns="http://www.w3.org/2000/svg">
    <text class="lowercase tracking-tighter font-bold font-[Gilroy]" x="790" y="372" font-size="452" fill="black" text-anchor="middle">{config.title.replace(/\s*/g,"")}</text>
  </svg>

</footer>
